<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dachen.mdt"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:theme,android:label">
        <activity android:name=".activity.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.LoginActivity">
        </activity>
        <activity android:name=".activity.main.MainActivity">
        </activity>
        <activity android:name=".activity.order.EditOrderCaseActivity">
        </activity>
        <activity android:name=".activity.me.MyInfoActivity">
        </activity>
        <activity android:name=".activity.order.SubmitSummaryActivity">
        </activity>
        <activity
            android:name=".activity.main.CommonInputActivity"
            android:windowSoftInputMode="stateAlwaysVisible">
        </activity>
        <activity android:name=".activity.main.ChooseTextActivity">
        </activity>
        <activity android:name=".activity.order.ViewOrderSummaryActivity">
        </activity>
        <activity android:name=".activity.order.OrderChatActivity">
        </activity>
        <activity android:name=".activity.order.ChooseMdtActivity">
        </activity>
        <activity android:name=".activity.order.ChooseMdtInfoActivity">
        </activity>
        <activity android:name=".activity.order.ChooseMdtPatientTypeActivity">
        </activity>
        <activity android:name=".activity.order.ViewOrderReportActivity">
        </activity>
        <activity android:name=".activity.order.OrderExpertActivity">
        </activity>
        <activity android:name=".activity.order.ViewOrderCaseActivity">
        </activity>
        <activity android:name="com.dachen.gallery.CustomGalleryActivity">
        </activity>
        <activity android:name=".activity.order.ChooseDiseaseTypeActivity">
        </activity>
        <activity android:name=".activity.order.ChooseCheckResultActivity">
        </activity>
        <activity android:name=".activity.order.ChooseCheckTypeActivity">
        </activity>
        <activity android:name=".activity.order.EditCheckValueActivity">
        </activity>
        <activity android:name=".activity.order.ChoosePatientActivity">
        </activity>
        <activity android:name=".activity.order.ChooseSummaryDiseaseActivity">
        </activity>
        <activity android:name=".activity.patient.PatientInfoActivity">
        </activity>
        <activity android:name=".activity.order.ChooseDiseaseTagActivity">
        </activity>
        <activity android:name="com.dachen.imsdk.activities.ChatImgActivity">
        </activity>
        <activity android:name="com.dachen.imsdk.activities.AtChatMemberActivity">
        </activity>
    </application>

</manifest>