<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dachen.mdt"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 录音录像的权限 -->
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.microphone"/>

    <!-- 小米推送 START -->
    <!-- the following 2 com.xiaomi.mipushdemo should be changed to your package name -->
    <permission
        android:name="com.dachen.mdt.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.dachen.mdt.permission.MIPUSH_RECEIVE"/>

    <!-- 小米推送 END -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:theme,android:label">
        <activity android:name=".activity.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 小米推送 START -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice"/>
        <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true"/>
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".push.MIPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <!-- 小米推送 END -->

        <activity android:name=".activity.main.LoginActivity">
        </activity>
        <activity android:name=".activity.main.MainActivity">
        </activity>
        <activity android:name=".activity.order.EditOrderCaseActivity">
        </activity>
        <activity android:name=".activity.me.MyInfoActivity">
        </activity>
        <activity android:name=".activity.order.summary.SubmitSummaryActivity">
        </activity>
        <activity
            android:name=".activity.main.CommonInputActivity"
            android:windowSoftInputMode="stateAlwaysVisible">
        </activity>
        <activity android:name=".activity.main.ChooseTextActivity">
        </activity>
        <activity android:name=".activity.order.summary.ViewOrderSummaryActivity">
        </activity>
        <activity android:name=".activity.order.OrderChatActivity">
        </activity>
        <activity android:name=".activity.order.ChooseMdtActivity">
        </activity>
        <activity android:name=".activity.order.ChooseMdtInfoActivity">
        </activity>
        <activity android:name=".activity.order.ChooseMdtPatientTypeActivity">
        </activity>
        <activity android:name=".activity.order.ViewOrderReportActivity">
        </activity>
        <activity android:name=".activity.order.OrderExpertActivity">
        </activity>
        <activity android:name=".activity.order.ViewOrderCaseActivity">
        </activity>
        <activity android:name="com.dachen.gallery.CustomGalleryActivity">
        </activity>
        <activity android:name=".activity.order.ChooseDiseaseTypeActivity">
        </activity>
        <activity android:name=".activity.order.ChooseCheckResultActivity">
        </activity>
        <activity android:name=".activity.order.ChooseCheckTypeActivity">
        </activity>
        <activity android:name=".activity.order.EditCheckValueActivity">
        </activity>
        <activity android:name=".activity.order.ChoosePatientActivity">
        </activity>
        <activity android:name=".activity.order.summary.ChooseSummaryDiseaseActivity">
        </activity>
        <activity android:name=".activity.patient.PatientInfoActivity">
        </activity>
        <activity android:name=".activity.order.summary.ChooseDiseaseTagActivity">
        </activity>
        <activity android:name="com.dachen.imsdk.activities.ChatImgActivity">
        </activity>
        <activity android:name="com.dachen.imsdk.activities.AtChatMemberActivity">
        </activity>
        <activity android:name=".activity.me.SettingActivity">
        </activity>
        <activity android:name=".activity.main.ViewImgActivity">
        </activity>
        <activity android:name=".activity.order.ChooseComplicationActivity">
        </activity>
        <activity android:name=".activity.order.ChooseBaseDiseaseActivity">
        </activity>
        <activity android:name=".activity.me.AboutActivity">
        </activity>
        <activity android:name=".activity.me.ModifyPwdActivity">
        </activity>
        <activity android:name=".activity.order.BaseMdtDragSortActivity">
        </activity>
        <activity android:name=".activity.order.summary.MdtInfoPreviewActivity">
        </activity>
        <activity android:name=".activity.order.summary.SummaryDiseasePreviewActivity">
        </activity>
        <activity android:name=".activity.me.MyOrderActivity">
        </activity>
        <activity android:name=".activity.order.ChooseOrderTimeActivity">
        </activity>
        <activity android:name=".activity.order.DiseasePreviewActivity">
        </activity>
    </application>

</manifest>